*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans";
    --cp-dark: hsl(243, 87%, 12%);
    --cp-desurated: hsl(238, 22%, 44%);
    --ca-bright: hsl(224, 93%, 58%);
    --ca-cyan: hsl(170, 45%, 43%);
    --cn-grayish-blue: hsl(240, 75%, 98%);
    --cn-gray: hsl(0, 0%, 75%);
}

body {
    margin: 0;
}

header,
h1,
h2,
h3,
h4 {
    font-family: "Raleway";
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 1.5rem;
}

.container-logo {
    display: flex;
    align-items: center;
}

img {
    width: 70%;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav a {
    color: black;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 5rem;
    padding: 0 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 5rem;
}

.hero p {
    font-size: 1.1rem;
}

.input-container {
    position: relative;
}

label {
    position: absolute;
    color: var(--cn-gray);
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
}

input[type="email"]:focus + label {
    display: none;
}

input[type="email"],
button {
    display: block;
    width: 100%;
    height: 3rem;
    border-radius: 5px;
}

input[type="email"] {
    border: 2px solid black;
    margin-bottom: 1.5rem;
    padding-left: 25px;
}

button {
    border: none;
    background-color: var(--ca-bright);
    color: white;
    font-size: 1.25rem;
    font-family: "Raleway";
    box-shadow: 5px 5px 15px 0px var(--cn-gray);
}
